# Dependencies
node_modules/

# Build output
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/logs/

# Coverage & Temporary
coverage/
*.tsbuildinfo
.pnpm-store/
db_err
test.sql
deplo.txt
deploy.txt
jenkins_deploy_log.txt
*.png
test-results/
playwright-report/
